@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<html>
<body>
    <h1>Calc Service Demo</h1>
    <h2>@Html.ActionLink("Run It", "Index", "Calc")</h2>
</body>
</html>  