@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<html>
<body>
    <h1>Calc Service Demo</h1>
    <h2>@Html.ActionLink("Run It", "Index", "Calc")</h2>
    <p>
        Source Code: <a href="https://github.com/shahedc/ASPNET-Calc-Service">https://github.com/shahedc/ASPNET-Calc-Service</a>
        <br />
        This web app demonstrates the following:
        <ul>
            <li>ASP.NET 5 (aka ASP.NET Core 1.0)</li>
            <li>MVC6 (aka ASP.NET Core 1.0 MVC)</li>
            <li>Unit Testing (see Github code)</li>
        </ul>
    </p>
</body>
</html>  